<%- model_class = @song.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:title) %>:</strong><br>
  <%= @song.title %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:file_path) %>:</strong><br>
  <%= @song.file_path %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cover_file_name) %>:</strong><br>
  <%= @song.cover_file_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cover_content_type) %>:</strong><br>
  <%= @song.cover_content_type %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cover_file_size) %>:</strong><br>
  <%= @song.cover_file_size %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:cover_updated_at) %>:</strong><br>
  <%= @song.cover_updated_at %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              songs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_song_path(@song), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              song_path(@song),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
